/* patrones globales de css */

/* tipo titulo, subtitulos, enlaces y botnes: Oswald */
h1,h2,h3,h4,h5,h6,a,button {font-family: 'Martel Sans', sans-serif;}

/* tipo parrafos: almarai */
p,span,strong,em,div{font-family: 'Martel Sans', sans-serif;}

/* quitar margen por defecto de body */
body{ margin: 0 auto;}

/* quitar margen de títulos y parrafos */
h1,h2,h3,h4,h5,h6,p,figure {margin: 0;}

/* configuracion de estilo propio */

/* propiedade display block */
header,aside,main,footer,section,article,figure,nav{display: block;}

aside#menu-responsive{
    width: 290px;
    height: 100%;
    display: none;
    margin: 0;
    float: none;
    position: fixed;

    top: 0;
    left: -290px;
    z-index:99998;
    background: #FC9885; 
 }
aside#menu-responsive a#abrir{
    width: 35px;
    height: auto;
    display: block;
    margin: 0;
    float: none;
    position: absolute;
    top: 20px;
    right: -35px;
    z-index: 1;
    color: #fff;
    background: #33697b;
    border-radius: 0 5px 5px 0;
    font-size: 1.25em;
    line-height: 1em;
    text-align: center;
    padding: 7px 0;
    transition: all 0.3s ease-in; 
}
aside#menu-responsive a#abrir:hover{ 
    background: #FC9885;
    transition: all 0.3s ease-in; 
}

aside#menu-responsive a#cerrar{
    width: 35px;
    height: auto;
    display: none;
    margin: 0;
    float: none;
    position: absolute;
    top: 20px;
    right: -35px;
    z-index: 2;
    color: #fff;
    background: #33697b;
    border-radius: 0 5px 5px 0;
    font-size: 1.25em;
    line-height: 1em;
    text-align: center;
    padding: 7px 0;
    transition: all 0.3s ease-in; 
}
aside#menu-responsive a#cerrar:hover{
    background: #fc9885;
    transition: all 0.3s ease-in;
}

aside#menu-responsive nav { 
    width: 58%; 
    height: auto; 
    display: block; 
    margin: 25px auto 0 auto; 
    float: none; 
    position: relative;
 }
aside#menu-responsive nav a { 
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    float: none; 
    position: relative; 
    font-size: 1em; 
    line-height: 1em; 
    color: #fff; 
    text-decoration: none; 
    padding: 14px 0; 
    text-align: right; 
}


aside#boton-whatsapp {
    width: 50px;
    height: 50px;
    margin: 0;
    float: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index:99996;   
} 
    
aside#boton-whatsapp a {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    color: #fff;
    background: #15c415;
    border-radius: 50%;
    font-size: 1.55em;
    line-height: 1em;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease-in;
}
aside#boton-whatsapp a:hover{
    color: #15c415;
    background: #212121;
    transition: all 0.3s ease-in;
}

header{
    width: 100%;
    height: 100px;
    margin: 0;
    float: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index:99995;
    background: #ffffff;
}
header article{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    float: none;
    position: relative;
}
header article figure {
    width: 208px;
    height: 100px;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
}
header article figure a {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    transition: all 0.3s ease-in;
}
header article figure a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    transition: all 0.3s ease-in;
}
header article figure a:hover{
    opacity: 0.8;
    transition: all 0.3s ease-in;
}

header article nav{
    width: 600px;
    height: 30px;
    display: block;
    margin: 35px 0;
    float: right;
    position: relative;
}
header article nav a{
    width: auto;
    height: auto;
    display: block;
    margin: 0px 20PX;
    float: left;
    position: relative;
    color: #605E5E;
    font-size: 1em;
    line-height: 1em;
    text-decoration: none;
    padding: 8px 0;
    font-weight: 300;
    letter-spacing: 0.07em;


}
header article nav a:hover{
    color: #FC9885;
    border-bottom: solid 2px #FC9885;
    transition: all 0.3s ease-in;
}

header article nav a.activo{
    color: #FC9885;
    border-bottom: solid 2px #FC9885;
    transition: all 0.3s ease-in;
}

main{
    width: 100%;
    height: auto;
    margin: 80px auto 0 auto;
    float: none;
    position: relative;
} 
main section#banner{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
}

main section#banner article{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    float: none;
    position: relative;
    background: linear-gradient(rgb(183 198 203 / 0%), rgb(122 132 136)), url(../img/fondos/lindarangel.png) no-repeat top center #b7c6b7;
    background-size: cover;
}
main section#banner article h2{
    text-align: right;
    text-decoration: none;
    padding: 12% 27% 0;
    color: #fff;
    font-size: 3.5em;
    margin: 0;
    font-weight: 600;
}
main section#banner article a{
    margin: 0 0 0 47%;
    width: 100px;
    height: auto;
    float: none;
    display: block;
    position: relative;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    padding: 12px 22px;
    border-radius: 20px;
    background: #FC9885;
}
main section#banner article  a:hover{
    color: #FC9885;
    background: #fff;
    transition: all 0.3s ease-in;
}

main section#perfil{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #33697b;
}
main section#perfil article{
    width: 1100px;
    height: 650px;
    margin: 0 auto;
    float: none;
    position: relative;
}
main section#perfil article figure{
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
    padding: 75px 0 0 0;
}
main section#perfil article figure#texto{
    width: 500px;
    height: 420px;
    display: block;
    margin: 0 auto;
    float: right;
    position: relative;
    padding: 115px 0;
}
main section#perfil article figure img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
    border-radius: 50%;
}
main section#perfil article figure h2{
    margin: 100px 0 0 0;
    display: block;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
}
main section#perfil article figure p{
    margin: 8px 0 25px 0;
    display: block;
    font-size: 1.1em;
    text-align: center;
    color: #fff;
}
main section#perfil article figure a{
    width: 128px;
    height: auto;
    margin: 0 0 0 37%;
    float: none;
    display: block;
    position: relative;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px 16px;
    border-radius: 20px;
    background: #FC9885;
}
main section#perfil article figure a:hover{
    color: #FC9885;
    background: #fff;
    transition: all 0.3s ease-in;
}
main section#servicios{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #FC9885;
}
main section#servicios article{
    width: 1100px;
    height: 650px;
    margin: 0 auto;
    float: none;
    position: relative;
}
main section#servicios article figure{
    width: 350px;
    height: 380px;
    display: block;
    margin: 0 12px;
    float: left;
    position: relative;
    padding: 96px 0;
}
main section#servicios article figure#segunda-img{
    width: 350px;
    height: 380px;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
    padding: 96px 0;
}
main section#servicios article figure#tercera-img{
    width: 350px;
    height: 380px;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
    padding: 96px 0;
}
main section#servicios article figure img{
    width: 350px;
    height: 380px;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
}
main section#servicios article figure h2{
    margin: 0;
    display: block;
    font-size: 2em;
    text-align: center;
    color: #605e5e;
    background: #fff;
    font-weight: 300;
}

main section#ilustracion1{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #b7c6b7;
}
main section#ilustracion1 article{
    width: 1100px;
    height: 600px;
    margin: 0 auto;
    float: none;
    position: relative;
}
main section#ilustracion1 article figure{
    width: 500px;
    height: auto;
    display: block;
    margin: 0;
    float: right;
    position: relative;
    padding: 50px 0 0 0;
}
main section#ilustracion1 article figure img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
    border-radius: 50%;
}
main section#ilustracion1 article figure#texto1{
    width: 400px;
    height: auto;
    display: block;
    margin: 0;
    float: left;
    position: relative;
    padding: 166px 0;
    
}
main section#ilustracion1 article figure#texto1 h2{
    margin: 25px 0 0 0;
    display: block;
    font-size: 2.2em;
    text-align: center;
    color:salmon;
}
main section#ilustracion1 article figure#texto1 p{
    margin: 8px 30px ;
    display: block;
    font-size: 1.1em;
    text-align: center;
    color: #fff;
}

main section#ilustracion2{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #33697b;
}
main section#ilustracion2 article{
    width: 1100px;
    height: 600px;
    margin: 0 auto;
    float: none;
    position: relative;
}
main section#ilustracion2 article figure#img2{
    width: 500px;
    height: auto;
    display: block;
    margin: 0;
    float: left;
    position: relative;
    padding: 50px 0 0 0;
}
main section#ilustracion2 article figure#img2 img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
    border-radius: 50%;
}
main section#ilustracion2 article figure#texto2{
    width: 400px;
    height: auto;
    display: block;
    margin: 0;
    float: right;
    position: relative;
    padding: 180px 0 0 0;
}
main section#ilustracion2 article figure#texto2 h2{
    margin: 25px 0 0 0;
    display: block;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
}
main section#ilustracion2 article figure#texto2 p{
    margin: 8px 30px ;
    display: block;
    font-size: 1.1em;
    text-align: center;
    color: #fff;
}

main section#ilustracion3{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background:salmon;
}
main section#ilustracion3 article{
    width: 1100px;
    height: 600px;
    margin: 0 auto;
    float: none;
    position: relative;
}
main section#ilustracion3 article figure#img3{
    width: 500px;
    height: auto;
    display: block;
    margin: 0;
    float: right;
    position: relative;
    padding: 50px 0 0 0;
}
main section#ilustracion3 article figure#img3 img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
    border-radius: 50%;
}
main section#ilustracion3 article figure#texto3{
    width: 400px;
    height: auto;
    display: block;
    margin: 0;
    float: left;
    position: relative;
    padding: 180px 0 0 0;
}
main section#ilustracion3 article figure#texto3 h2{
    margin: 25px 0 0 0;
    display: block;
    font-size: 2.2em;
    text-align: center;
    color: #33697b;
}
main section#ilustracion3 article figure#texto3 p{
    margin: 8px 30px ;
    display: block;
    font-size: 1.1em;
    text-align: center;
    color: #fff;
}
main section#portafolio {
    width: 100%;
    height: auto; 
    float: none; 
    display: block; 
    margin: 0 auto; 
    position: relative;
    background: #fc9885; }
main section#portafolio article { 
    width: 1100px; 
    height: auto; 
    float: none; 
    display: block; 
    margin: 0 auto; 
    position: relative; 
    padding: 50px 0; 

}
main section#portafolio article nav { 
    width: 100%; 
    height: auto; 
    float: none; 
    display: block; 
    margin: 0 auto; 
    position: relative; }
main section#portafolio article nav a { 
    width: 250px; 
    height: auto; 
    float: none; 
    display: inline-block; 
    margin: 11px; 
    position: relative; 
    overflow: hidden; 
    border-radius: 5px; 
    transition: all 0.3s ease-in; }
main section#portafolio article nav a img { 
    width: 100%; 
    height: auto; 
    float: none; 
    display: block;
    margin: 0 auto; 
    position: relative; 
    transition: all 0.3s ease-in;
    border-radius: 50%;
 }
main section#portafolio article nav a:hover { 
    opacity: 0.8; 
    transition: all 0.3s ease-in; }
main section#portafolio article nav a:hover img { 
    transform: scale(1.03); 
    transition: all 0.3s ease-in; }

.fancybox-container { z-index: 99999 !important; }

main section#contactame { 
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
   background: #33697b;
}
main section#contactame div{
    width: 100%;
    height: 1px;
    margin: 0 ;
    float: none;
    position: absolute;
    top: -80px;
    left: 0;
    padding:0;
    background:transparent;
}
main section#contactame article {
    width: 80%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    padding: 80px 0;
}
main section#contactame article p {
    text-align: center;
    font-size: 1.4em;
    line-height: 1em;
    color: #fff;
    padding: 0 0 20px;
    letter-spacing: 0.030em;
}
main section#contactame article nav {
    width: 290px;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
}
main section#contactame article nav a {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 16px;
    float: none;
    position: relative;
    border: solid 2px #FC9885;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    background: #FC9885;
    transition: all 0.3s ease-in;
    font-size: 1.2em;
    letter-spacing: 0.020em;
    border-radius: 30px;
}
main section#contactame article nav a:hover {
    color: #FC9885;
    background: #fff;
    transition: all 0.3s ease-in;
}
footer{
    width: 100%;
    height: auto;
    margin:0 auto ;
    float: none;
    position: relative;
    background: #b7c6b7;
}
footer article {
    width:80%;
    height: auto;
    margin:0 auto;
    float: none;
    position: relative;
    padding: 90px 0;
}
footer article a {
    width: 200px;
    height: 100px;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
}
footer article a img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    float: none;
    position: relative;
    border-radius: 20px;
}

footer article nav {
    width: 162px;
    height: 34px;
    margin: 10px auto 0 auto;
    display: block;
    float: none;
    position: relative;
}
footer article nav a {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 2px;
    float: left;
    position: relative;
    color: #33697b;
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    padding: 7px 0;
    transition: all 0.3s ease-in;
}

@media only screen and (max-width: 1199px){
    header article {width: 90%;}
    header article figure {width: 19%;}
    header article nav {width: 54%;}
}
@media only screen and (max-width: 899px){
    aside#menu-responsive{display: none;}
    header article nav {width: 60%;}
    header article nav a {margin: 0 9PX;}
    main section#banner article h2 {padding: 28% 8% 0;font-size: 3em;}
    main section#banner article a {margin: 0px 0 0 43%;}
    main section#perfil article {width: 90%;height: 500px;}
    main section#perfil article figure {width: 45%;}
    main section#perfil article figure#texto {width: 45%;padding: 82px 0 0 0;}
    main section#perfil article figure h2 {margin: 55px 0 0 0;}
    main section#perfil article figure a {margin: 0 0 0 28%;}
    main section#servicios article {width: 90%;height: 545px;}
    main section#servicios article figure {width: 30%;height: auto;padding: 96px 0 0 0}
    main section#servicios article figure#segunda-img {width: 30%;height: auto;padding: 96px 0 0 0}
    main section#servicios article figure { width: 30%;height: auto;padding: 96px 0 0 0;margin: 0 20px;}
    main section#servicios article figure img {width: 100%;height: 275px;}
    main section#ilustracion1 article {width: 90%;height: 500px;}
    main section#ilustracion1 article figure {width: 45%;padding: 70px 0 0 0;}
    main section#ilustracion1 article figure#texto1 {width: 45%;padding: 80px 0 0 0;}
    main section#ilustracion1 article figure#texto1 p {margin: 8px 0;}
    main section#ilustracion2 article {width: 90%;height: 500px;}
    main section#ilustracion2 article figure#img2 {width: 45%;padding: 70px 0 0 0;}
    main section#ilustracion2 article figure#texto2 {width: 45%;padding: 80px 0 0 0;}
    main section#ilustracion2 article figure#texto2 p {margin: 8px 0;}
    main section#ilustracion3 article {width: 90%;height: 500px;}
    main section#ilustracion3 article figure#img3 {width: 45%;padding: 70px 0 0 0;}
    main section#ilustracion3 article figure#texto3 {width: 45%;padding: 80px 0 0 0;}
    main section#ilustracion3 article figure#texto3 p {margin: 8px 0;}
    main section#portafolio article {width: 90%;}
    main section#portafolio article nav {text-align: center;}
    main section#portafolio article nav a {width: 20%;}
    header {width: 100%;height: 80px;}
    header article {height: 80px;}
    header article figure {height: 80px;}
    header article nav {width: 70%;margin: 25px 0;}
    main {margin: 80px auto 0 auto;}
    main section#banner article {height: 400px;}
    main section#banner article h2 {padding: 25% 6% 0;font-size: 2.8em;}
    main section#banner article a {margin: 0px 0 0 42%;}
    main section#servicios article {height: 530px;}
    main section#servicios article figure {margin: 0 17px;}
    main section#servicios article figure h2 {font-size: 1.5em;}
}
@media only screen and (max-width: 799px){   
    aside#menu-responsive {display: block;}
    aside#menu-responsive nav a {font-size: 1.3em;}
    aside#menu-responsive nav {width: 85%;margin: 24px 0 0 0;}
    header article { width: 100%; }
    header article nav {display: none;}
    header article figure {float: none;}
    header article figure a {margin: 12px 0;}
    main section#banner article {height: 350px;}
    main section#banner article h2 { padding: 30% 6% 0;font-size: 2em;}
    main section#banner article a {margin: 0px 0 0 40%;}
    main section#perfil article {width: 90%;height: 680px;}
    main section#perfil article figure {width: 50%;float: none;}
    main section#perfil article figure#texto {width: 80%;float: none;padding: 45% 0 0 0;}
    main section#perfil article figure a {margin: 0 0 0 31%;}
    main section#servicios article {height: 1045px;}
    main section#servicios article figure {margin: 0 auto;float: none;}
    main section#servicios article figure img {height: 240px;}
    main section#servicios article figure {width: 40%;    float: none;padding: 40px 0 0 0;}
    main section#servicios article figure#segunda-img {width: 40%;    float: none;height: auto;padding: 40px 0 0 0;}
}
@media only screen and (max-width: 599px){ 
    aside#menu-responsive {display: block;}   
}
@media only screen and (max-width: 499px){ 
    header article figure {width: 28%;}
    main section#banner article {height: 300px;}
    main section#banner article h2 {padding: 30% 6% 0;font-size: 1.8em;}
    main section#banner article a { margin: 0px 0 0 36%;}
    main section#servicios article {height: 920px;}
    main section#servicios article figure img {height: 194px;}
    main section#ilustracion1 article {height: 643px;}
    main section#ilustracion1 article figure {width: 60%;float: none;margin: 0 auto;}
    main section#ilustracion1 article figure#texto1 {width: 80%;padding: 61% 0 0 0;float: none;margin: 0 auto;}
    main section#ilustracion2 article {height: 643px;}
    main section#ilustracion2 article figure#img2 {width: 60%;float: none;margin: 0 auto;padding: 50px 0 0 0;
    }
    main section#ilustracion2 article figure#texto2 {width: 80%;padding: 10% 0 0 0;float: none;margin: 0 auto;}
    main section#ilustracion3 article {height: 643px;}
    main section#ilustracion3 article figure#img3 {width: 60%;float: none;margin: 0 auto;}
    main section#ilustracion3 article figure#texto3 {width: 80%;padding: 61% 0 0 0;float: none;margin: 0 auto;}
    main section#portafolio article nav a {width: 40%;}

}
@media only screen and (max-width: 399px){ 
    header article figure {width: 33%;}
    main section#banner article {height: 280px;}
    main section#banner article h2 {padding: 39% 4% 0;font-size: 1.5em;}
    main section#banner article a {margin: 0px 0 0 32%;}
    main section#perfil article figure a {margin: 0 0 0 23%;}
    main section#servicios article {height: 1060px;}
    main section#servicios article figure {width: 60%;}
    main section#servicios article figure#segunda-img {width: 60%;}
    main section#servicios article figure img {height: 241px;}
}