/* patrones globales de css */

/* tipo titulo, subtitulos, enlaces y botnes: Oswald */
h1,h2,h3,h4,h5,h6,a,button {font-family: 'Martel Sans', sans-serif;}

/* tipo parrafos: almarai */
p,span,strong,em,div{font-family: 'Martel Sans', sans-serif;}

/* quitar margen por defecto de body */
body{ margin: 0 auto;}

/* quitar margen de títulos y parrafos */
h1,h2,h3,h4,h5,h6,p,figure {margin: 0;}

/* configuracion de estilo propio */

/* propiedade display block */
header,aside,main,footer,section,article,figure,nav{display: block;}

aside#menu-responsive{
    width: 290px;
    height: 100%;
    display: none;
    margin: 0;
    float: none;
    position: fixed;

    top: 0;
    left: -290px;
    z-index:99998;
    background: #FC9885; 
 }
aside#menu-responsive a#abrir{
    width: 35px;
    height: auto;
    display: block;
    margin: 0;
    float: none;
    position: absolute;
    top: 20px;
    right: -35px;
    z-index: 1;
    color: #fff;
    background: #33697b;
    border-radius: 0 5px 5px 0;
    font-size: 1.25em;
    line-height: 1em;
    text-align: center;
    padding: 7px 0;
    transition: all 0.3s ease-in; 
}
aside#menu-responsive a#abrir:hover{ 
    background: #FC9885;
    transition: all 0.3s ease-in; 
}

aside#menu-responsive a#cerrar{
    width: 35px;
    height: auto;
    display: none;
    margin: 0;
    float: none;
    position: absolute;
    top: 20px;
    right: -35px;
    z-index: 2;
    color: #fff;
    background: #33697b;
    border-radius: 0 5px 5px 0;
    font-size: 1.25em;
    line-height: 1em;
    text-align: center;
    padding: 7px 0;
    transition: all 0.3s ease-in; 
}
aside#menu-responsive a#cerrar:hover{
    background: #fc9885;
    transition: all 0.3s ease-in;
}

aside#menu-responsive nav { 
    width: 58%; 
    height: auto; 
    display: block; 
    margin: 25px auto 0 auto; 
    float: none; 
    position: relative;
 }
aside#menu-responsive nav a { 
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    float: none; 
    position: relative; 
    font-size: 1em; 
    line-height: 1em; 
    color: #fff; 
    text-decoration: none; 
    padding: 14px 0; 
    text-align: right; 
}


aside#boton-whatsapp {
    width: 50px;
    height: 50px;
    margin: 0;
    float: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index:99996;   
} 
    
aside#boton-whatsapp a {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    color: #fff;
    background: #15c415;
    border-radius: 50%;
    font-size: 1.55em;
    line-height: 1em;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease-in;
}
aside#boton-whatsapp a:hover{
    color: #15c415;
    background: #212121;
    transition: all 0.3s ease-in;
}

header{
    width: 100%;
    height: 100px;
    margin: 0;
    float: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index:99995;
    background: #ffffff;
}
header article{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    float: none;
    position: relative;
}
header article figure {
    width: 208px;
    height: 100px;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
}
header article figure a {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    transition: all 0.3s ease-in;
}
header article figure a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    transition: all 0.3s ease-in;
}
header article figure a:hover{
    opacity: 0.8;
    transition: all 0.3s ease-in;
}

header article nav{
    width: 600px;
    height: 30px;
    display: block;
    margin: 35px 0;
    float: right;
    position: relative;
}
header article nav a{
    width: auto;
    height: auto;
    display: block;
    margin: 0px 20PX;
    float: left;
    position: relative;
    color: #605E5E;
    font-size: 1em;
    line-height: 1em;
    text-decoration: none;
    padding: 8px 0;
    font-weight: 300;
    letter-spacing: 0.07em;


}
header article nav a:hover{
    color: #FC9885;
    border-bottom: solid 2px #FC9885;
    transition: all 0.3s ease-in;
}

header article nav a.activo{
    color: #FC9885;
    border-bottom: solid 2px #FC9885;
    transition: all 0.3s ease-in;
}

main{
    width: 100%;
    height: auto;
    margin: 100px auto 0 auto;
    float: none;
    position: relative;
} 
main section#banner{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
}

main section#banner article{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    float: none;
    position: relative;
    background: linear-gradient(rgb(183 198 203 / 0%), rgb(122 132 136)), url(../img/fondos/lindarangel.png) no-repeat top center #b7c6b7;
    background-size: cover;
}
main section#banner article h2{
    text-align: right;
    text-decoration: none;
    padding: 12% 27% 0;
    color: #fff;
    font-size: 3.5em;
    margin: 0;
    font-weight: 600;
}
main section#banner article a{
    margin: 0 0 0 47%;
    width: 100px;
    height: auto;
    float: none;
    display: block;
    position: relative;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    padding: 12px 22px;
    border-radius: 20px;
    background: #FC9885;
}
main section#banner article  a:hover{
    color: #FC9885;
    background: #fff;
    transition: all 0.3s ease-in;
}

main section#perfil{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #33697b;
}
main section#perfil article{
    width: 1100px;
    height: 650px;
    margin: 0 auto;
    float: none;
    position: relative;
}
main section#perfil article figure{
    width: 500px;
    height: 420px;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
    padding: 115px 0;
}
main section#perfil article figure#texto{
    width: 500px;
    height: 420px;
    display: block;
    margin: 0 auto;
    float: right;
    position: relative;
    padding: 115px 0;
}
main section#perfil article figure img{
    width: 500px;
    height: 420px;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
}
main section#perfil article figure h2{
    margin: 100px 0 0 0;
    display: block;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
}
main section#perfil article figure p{
    margin: 8px 0 25px 0;
    display: block;
    font-size: 1.1em;
    text-align: center;
    color: #fff;
}
main section#perfil article figure a{
    width: 128px;
    height: auto;
    margin: 0 0 0 37%;
    float: none;
    display: block;
    position: relative;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px 16px;
    border-radius: 20px;
    background: #FC9885;
}
main section#perfil article figure a:hover{
    color: #FC9885;
    background: #fff;
    transition: all 0.3s ease-in;
}
main section#servicios{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #FC9885;
}
main section#servicios article{
    width: 1100px;
    height: 650px;
    margin: 0 auto;
    float: none;
    position: relative;
}
main section#servicios article figure{
    width: 350px;
    height: 380px;
    display: block;
    margin: 0 12px;
    float: left;
    position: relative;
    padding: 96px 0;
}
main section#servicios article figure#segunda-img{
    width: 350px;
    height: 380px;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
    padding: 96px 0;
}
main section#servicios article figure#tercera-img{
    width: 350px;
    height: 380px;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
    padding: 96px 0;
}
main section#servicios article figure img{
    width: 350px;
    height: 380px;
    display: block;
    margin: 0 auto;
    float: left;
    position: relative;
}
main section#servicios article figure h2{
    margin: 0;
    display: block;
    font-size: 2em;
    text-align: center;
    color: #605e5e;
    background: #fff;
    font-weight: 300;
}
main section#contactame { 
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
   background: #33697b;
}
main section#contactame div{
    width: 100%;
    height: 1px;
    margin: 0 ;
    float: none;
    position: absolute;
    top: -80px;
    left: 0;
    padding:0;
    background:transparent;
}
main section#contactame article {
    width: 80%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    padding: 80px 0;
}
main section#contactame article p {
    text-align: center;
    font-size: 1.4em;
    line-height: 1em;
    color: #fff;
    padding: 0 0 20px;
    letter-spacing: 0.030em;
}
main section#contactame article nav {
    width: 290px;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
}
main section#contactame article nav a {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 16px;
    float: none;
    position: relative;
    border: solid 2px #FC9885;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    background: #FC9885;
    transition: all 0.3s ease-in;
    font-size: 1.2em;
    letter-spacing: 0.020em;
    border-radius: 30px;
}
main section#contactame article nav a:hover {
    color: #FC9885;
    background: #fff;
    transition: all 0.3s ease-in;
}
footer{
    width: 100%;
    height: auto;
    margin:0 auto ;
    float: none;
    position: relative;
    background: #b7c6b7;
}
footer article {
    width:80%;
    height: auto;
    margin:0 auto;
    float: none;
    position: relative;
    padding: 90px 0;
}
footer article a {
    width: 200px;
    height: 100px;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
}
footer article a img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    float: none;
    position: relative;
    border-radius: 20px;
}

footer article nav {
    width: 162px;
    height: 34px;
    margin: 10px auto 0 auto;
    display: block;
    float: none;
    position: relative;
}
footer article nav a {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 2px;
    float: left;
    position: relative;
    color: #33697b;
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    padding: 7px 0;
    transition: all 0.3s ease-in;
}


@media only screen and (max-width: 1199px){
    aside#menu-responsive { display: none; }
    header article figure {
        width: auto; 
        margin: 0 0 0 20px;}
        header article nav {width: 630px;}
    main section#banner article h2 {
        text-align: center;
        font-size: 3.2em;
        padding: 17% 14% 0;}
    main section#banner article a {margin: 0 0 0 45%;}
}

@media only screen and (max-width: 899px){
    header article nav {width: 580px;}
    header article nav a {margin: 0px 15PX;}
    main section#banner article {
        height: 400px;}
    main section#banner article h2 {
            padding: 20% 6% 0;}
    main section#perfil article {width: 800px;
        height: 600px;}
    main section#banner article a {
        margin: 0 0 0 42%;}
    main section#perfil article figure {width: 350px;
        height: auto;
        padding: 125px 0;}
    main section#perfil article figure img {
        width: 350px;
        height: auto;}
    main section#perfil article figure#texto {
        width: 350px;
        height: auto;
        padding: 139px 0;}
        main section#perfil article figure h2 {
            margin: 70px 0 0 0;}
    main section#perfil article figure a {
        margin: 0px 0 0 28%;}
    main section#servicios article {
        width: 800px;
        height: 490px;}
    main section#servicios article figure {
        width: 250px;
        height: 250px;}
    main section#servicios article figure img {
        width: 250px;
        height: auto;}
        main section#servicios article figure h2 {
        font-size: 1.3em;}
    main section#servicios article figure#segunda-img {
        width: 250px;
        height: 250px;}
    main section#servicios article figure {
        width: 250px;
        height: 250px;}

}

@media only screen and (max-width: 799px){
    header article {width: 80%;}
    header article figure {
        width: 144px;margin: 0;}
    header article figure a {
        margin: 15px 0;}
    header article nav {width: 452px;}
    header article nav a {
        margin: 0px 5PX; background-size:}
    main section#banner article h2 {
        padding: 20% 0 0;}
    main section#banner article a {
        margin: 0 0 0 42%;}
    main section#perfil article {
        width: 700px;}
    main section#perfil article figure {
         width: 340px;}
    main section#perfil article figure img {
        width: 340px;}
    main section#perfil article figure#texto {
        width: 340px;
        padding: 157px 0;}
    main section#perfil article figure h2 {
        margin: 56px 0 0 0;}
    main section#perfil article figure p {
        margin: 8px 0 25px 0;
        font-size: 1em;}
    main section#perfil article figure a {
        margin: 0px 0 0 27%;}
    main section#servicios article {
        width: 700px;
        height: 480px;}
    main section#servicios article figure {
        width: 233px;
        height: 233px;
        margin: 0;}
    main section#servicios article figure img {
        width: 100%;
        height: auto;}
    main section#servicios article figure#segunda-img {
        width: 233px;
        height: 233px;}
    main section#servicios article figure {
        width: 233px;
        height: 233px;}
}

@media only screen and (max-width: 599px){
    aside#menu-responsive {
        display: block;
        background: #33697b;}
    aside#menu-responsive a#abrir {
        color: #fff;
        background: #fc9885;}
    aside#menu-responsive a#cerrar {
        color: #fff;
        background: #fc9885;}
    header article {
        width: 20%;}
    header article figure {
        width: 120px;
        margin: 0;}
    header article nav {
        display: none;}
    main section#banner article {
        height: 300px;}
    main section#banner article h2 {
        font-size: 2.2em;}
    main section#banner article a {
        margin: 0 0 0 39%;}
    main section#perfil article {
        width: 500px;
        height: 600px;}
    main section#perfil article figure {
        width: 300px;
        height: 300px;
        padding: 20px 0;
        float:none;}
    main section#perfil article figure img {
        width: 300px;}
    main section#perfil article figure#texto {
        width: 300px;
        float:none;
        padding: 0;}
    main section#perfil article figure h2 {
        margin: 0;}
    main section#perfil article figure a {
        margin: 0px 0 0 22%;}
    main section#servicios article {
        width: 300px;
        height: 1080px;}
    main section#servicios article figure {
        width: 300px;
        height: 300px;
        padding: 25px 0;}
    main section#servicios article figure#segunda-img {
        width: 300px;
        height: 300px;
        padding: 25px 0;}
    main section#servicios article figure {
        width: 300px;
        height: 300px;
        padding: 25px 0;}
    main section#contactame article p {
        line-height: 1em;}
}

@media only screen and (max-width: 499px){
    main section#banner article {
        height: 260px;}
    main section#perfil article {
        width: 400px;}
    main section#banner article h2 {
        font-size: 1.8em;}

}
@media only screen and (max-width: 399px){
    header {height: 80px;}
    header article {width: 27%;}
    header article figure {height: 80px; }
    header article figure a {margin: 12px 0;}
    main {margin: 80px auto 0 auto;}
    main section#banner article {height: 260px;}
    main section#banner article h2 {font-size: 1.2em; padding: 34% 0 0;}
    main section#banner article a {margin: 0 0 0 31%;}


}